@charset "utf-8";
/* CSS Document */
/* imagenes */
.prin {
	text-align:center;
	width: 100%;
	height: auto;
	margin-top: 10%;
}
/* botones */
.bot {
	text-align:center;
	width: 85%;
	height: 30%;
	padding-left: 7.5%;
	padding-right: 7.5%;
	border: 5%;
}
/* h2 */
h2 {
	text-align: left;
}
	

